*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }
/* body{
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  pointer-events: none;
  background: url('/assets/images/plus-icon.svg') no-repeat center/contain;
  mix-blend-mode: difference;
  z-index: 9999;
  transform: translate(-50%, -50%);
} */

.mix-blend-difference {
    mix-blend-mode: difference;
}
.mix-blend-none {
    mix-blend-mode: normal;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

.animate-blink {
  animation: blink 0.8s steps(2, jump-none) infinite;
  -webkit-animation: blink 0.8s steps(2, jump-none) infinite;
}

@keyframes bounceSlide {
  0%   { transform: translateY(100%); }
  60%  { transform: translateY(-20%); -webkit-transform: translateY(-20%); -moz-transform: translateY(-20%); -ms-transform: translateY(-20%); -o-transform: translateY(-20%); }
  80%  { transform: translateY(5%); }
  100% { transform: translateY(0); }
}

.bounce-slide {
  animation: bounceSlide 0.7s ease-out both;
  -webkit-animation: bounceSlide 0.7s ease-out both;
}
 #our-swiper .swiper-slide {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.9s ease-in-out;
    -webkit-transition: transform 0.9s ease-in-out;
    -moz-transition: transform 0.9s ease-in-out;
    -ms-transition: transform 0.9s ease-in-out;
    -o-transition: transform 0.9s ease-in-out;
}
  #our-swiper .swiper-slide:nth-child(1) {
    transform: translateY(0);
    opacity: 1;
  }